
.container .modal-content {
    width: 230px;
    height: 100px;

}

    .container .modal-content #closbtn {
        float: right;
        margin-right: 5px;
    }

    .container .modal-content #content {
        padding: 5px 0px 5px 10px;
        font-family: sans-serif;
    }

    .container .modal-content .buttons {
        float: right;
    }
