<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    
    <!--Parimatch-->
    <add key="ParimatchBaseUrl" value="https://www.parimatch.com/en/bet.html?ha="/>
    <add key="ParimatchBaseDirectory" value="C:\BetEventScanner\Services\Parimatch"/>
  </appSettings>
</configuration>
